@import "../clock"
@import "../system"
@import "../keyboard"

.bar {
  background-color: rgba(0, 0, 0, 0);
  padding: 0.5em 1em 0.5em;

  :first-child {
    margin-left: 0;
  }

  :last-child {
    margin-right: 0;
  }
}
