$aqua: #83C092;
 $bg0: #2D353B;
 $bg1: #343F44;
 $bg2: #3D484D;
 $bg3: #475258;
 $bg4: #4F585E;
 $bg5: #56635f;
 $bg_blue: #3A515D;
 $bg_dim: #232A2E;
 $bg_green: #425047;
 $bg_red: #514045;
 $bg_visual: #543A48;
 $bg_yellow: #4D4C43;
 $blue: #7FBBB3;
 $fg: #D3C6AA;
 $green: #A7C080;
 $grey0: #7A8478;
 $grey1: #859289;
 $grey2: #9DA9A0;
 $orange: #E69875;
 $purple: #D699B6;
 $red: #E67E80;
 $statusline1: #A7C080;
 $statusline2: #D3C6AA;
 $statusline3: #E67E80;
 $yellow: #DBBC7F;


$font_boldItalicStyle: "Bold Italic";
 $font_boldStyle: "Bold";
 $font_family: "Iosevka Nerd Font";
 $font_italicStyle: "Italic";
 $font_regularStyle: "Regular";

