.separator {
  margin: 0 0.3em;

  label {
    color: $bg_dim;
  }
}


.cpu-widget {
  > label {
    color: $green;
  }
}

.ram-widget { 
  .il-icon {
    margin-right: 0.5em;
  }

  > label {
    color: $aqua;
  }
}

.disk-widget { 
  .il-icon {
    margin-right: 0.7em;
  }

  > label {
    color: $blue;
  } 
}

.temp-widget { 
  .il-icon {
    margin-right: 0.7em;
  }
}

.temp-widget-crit > label {
  color: $red;
}

.temp-widget-warn > label {
  color: $yellow;
}

.battery-widget {
  .il-icon {
    margin-right: 0.6em;
  }
  
  > label {
    color: $statusline2;
  }
}

.battery-widget-charging {
  .il-icon, > label {
    color: $green;
  }
}

.battery-widget-crit > label {
  color: $red;
}
